header div {
    text-align: right;
}
header h1 {
    text-align: center;
    padding: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
}

div p {
    text-align: center;
}
div img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%; 
}

body div a div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}


main article div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    padding-right: 20%;
}

main article div img {
    margin-top: auto;
    margin-bottom: auto;
    width: 10%;
}

footer {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 2%;
}

footer a {
    padding-left: 15%;
    padding-right: 15%;
    width: 0.1%;
    height: .1%;
    
}

footer a div {
    display: flex;
    flex-wrap: wrap;
    
    
}
    
