* {
    padding: 0px;
    margin: 0px;
}

header  {
    display: flex;
    flex: wrap;
    flex-direction: row-reverse;
    justify-content: right;
    background-color: azure;
}

header div {
    flex-shrink: 2;
    text-align: center;
    font-size: large;
    font-family: 'Trebuchet MS';
    background-color: rgb(27, 182, 130);
    color: rgba(221, 2, 250, 0.623);
    width: 5%;
    border-radius: 15%;
    border: 0.2rem solid;   
    border-color: rgb(255, 149, 10);
    padding: 0%;
    margin: 0%;
}
body  h1 {
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: bisque;
    color: rgb(47, 228, 228);
    font-style: italic;
}

body div {
    background-color: honeydew;
    padding-bottom: 1%;
}

body div p {
    text-align: center;
    padding: 2%;
}
body div img {
    padding-top: 2%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%; 
    border: .1 rem solid;
    border-radius: 10%;
    flex-shrink: 2;
}

body div a div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}


main article p {
    padding: 1%;
    border-radius: 5%;
    color: gold;
    background-color: black;
    text-align: justify;
}

main article div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    font-size: 3rem;
    padding-right: 20%;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

main article div img {
    width: 12%;
}

footer {
    display: flex;
    flex: wrap;
    justify-content: space-evenly;
    text-align: center;
    background-color: red;
    height: 2rem;
    padding-top: 0.5rem;
}


footer a div {
    background-color: crimson;
    width: 100%;
    padding-left: 15%;
    padding-right: 15%;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

footer a div h3 {
    color:rgba(246, 89, 233, 0.86);
}

.blend {
    mix-blend-mode: multiply;
}

a:link {
    text-decoration: none;
    color:cadetblue
}
    
a:hover {
    text-decoration: underline;
    color:rgb(46, 92, 4)
}